<div ng-controller="headerController">
    <div ng-switch on="isAuthenticated()">
        <div ng-switch-when="true">
            <span>
            <p>Welcome, {{ getUsername() }}!</p>
            </span>
            
            <span>
                <a href="/">Home</a>
            </span>
            <span>
                <a href="/user/{{ getUsername() }}">Messages</a>
            </span>
            <span>
                <a href="" ng-click="logout()">Logout</a>
            </span>
        </div>
        <div ng-switch-when="false">
            <span>
                <a href="/">Home</a>
            </span>
            <span>
                <a href="/login">Login</a>
            </span>
            <span>
                <a href="/register">Register</a>
            </span>
        </div>
    </div>

<!--    <% if (session_user) { %>

    <span><a href="/">Home</a></span> <span><a href="/user/<%= session_user.username %>">Messages</a></span> <span><a href="/logout">Logout</a></span>


    <% } else { %>

    <span><a href="/">Home</a></span> <span><a href="/login">Login</a></span> <span><a href="/register">Register</a></span>

    <% } %>-->
</div>
